name: Build Mac App

on:
  push:
    branches: [ main ]

jobs:
  build-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # I have explicitly added Pillow and openpyxl here.
          # DO NOT REMOVE THEM.
          pip install pyinstaller pywebview Pillow openpyxl pandas requests opencv-python pynput uiautomation
      
      - name: Build with PyInstaller
        working-directory: baap-emp-productivity-tracker
        run: |
          # The --hidden-import=PIL flag forces PyInstaller to find the library
          pyinstaller --name "ProductivityTracker" --windowed --onefile --clean --noconfirm --hidden-import=PIL --hidden-import=openpyxl main.py
      
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Mac-App
          path: baap-emp-productivity-tracker/dist/

